<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default = "development">
        <environment id = "development">
            <transactionManager type = "JDBC"/>

            <dataSource type = "POOLED">
                <property name = "driver" value = "org.postgresql.Driver"/>
                <property name = "url" value = "jdbc:postgresql://ep-lively-mud-a28jar2m-pooler.eu-central-1.aws.neon.tech:5432/lab1"/>
                <property name = "username" value = "lab1_owner"/>
                <property name = "password" value = "npg_2P1KzoEiBZVs"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper class="org.example.psklab1.entities.StudentMapper" />
        <mapper class="org.example.psklab1.entities.CourseMapper" />
    </mappers>

</configuration>